<!DOCTYPE html>
<html>
<head>
    <title>Example Page Using Jinja</title>
</head>
<body>
    <h1>Experience</h1>
    {% for experience in data %}
    <div>
        <h2>{{ experience.title }}</h2>
        <p><strong>Time:</strong> {{ experience.time }}</p>
        <p><strong>Responsibilities:</strong></p>
        <ul>
            {% for responsibility in experience.responsibility %}
            <li>{{ responsibility }}</li>
            {% endfor %}
        </ul>
        <p><strong>Achievements:</strong></p>
        <ul>
            {% for achievement in experience.achievement %}
            <li>{{ achievement }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</body>
</html>